<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

  </appSettings>

	<connectionStrings>
		<add name="usercheckconnstr" connectionString="server=.;uid=mriusermanage;pwd=123;database=MRI_User_DB"/>
		<add name="blogconnstr" connectionString="server=.;uid=miraiblog;pwd=123;database=MRI_Blog_DB"/>
	</connectionStrings>
</configuration>
